
/*======================================
//--//-->   IMAGES
======================================*/

.bg-image{
    background-color: hsl(0, 0%, 80%); /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.top-image{
    background-image: url("../img/stock1.jpg");
}

.slide-image1{
    background-image: url("../img/work-1.jpg");
}

.slide-image2{
    background-image: url("../img/work-2.jpg");
}

.slide-image3{
    background-image: url("../img/work-3.jpg");
}

.bottom-image1{
    background-image: url("../img/work-4.jpg");
}

.bottom-image2{
    background-image: url("../img/work-5.jpg");
}

.intro{
    text-align: left;
    background-color: transparent;
}

.intro > h1{
    margin: 0 auto;
    width: 50%;
    font-weight: lighter;
    font-size: 80px;
}

.mypic{
    border-radius: 0.5rem;
    height: 150px;
    width: 150px;
}

/*======================================
//--//-->   ABOUT
======================================*/

.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-mf .about-img {
    margin-bottom: 2rem;
}

.about-mf .about-img img {
    margin-left: 10px;
}

.skill-mf span {
    color: #4e4e4e;
}

.skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: 1.2rem;
}

.skill-mf .progress .progress-bar {
    height: 1.2rem;
    background-color: #0078ff;
}

/*--/ Sections /--*/

.sect-4 {
    padding: 4rem 0;
}

.sect-pt4 {
    padding-top: 4rem;
}

.sect-mt4 {
    margin-top: 4rem;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*--/ Title s /--*/

.title-s {
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
    font-size: 20px;
}

.about-info {
    text-align: left;
    font-size: 0.9rem;
}

.skill-mf {
    text-align: left;
    /*font-size: 0.9rem;*/
}


@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem;
    }

    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
        padding-left: 10px;
    }

    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
        margin-left: 18px;
    }

    .intro .intro-title {
        font-size: 4.5rem;
    }

    .intro .intro-subtitle {
        font-size: 2.5rem;
    }

    .intro-single .intro-title {
        font-size: 3.5rem;
    }

    .testimonial-box .description {
        padding: 0 5rem;
    }

    .post-box,
    .form-comments,
    .box-comments,
    .widget-sidebar {
        padding: 3rem;
    }

    .blog-wrapper .article-title {
        font-size: 1.9rem;
    }

    .box-comments .list-comments .comment-author {
        font-size: 1.5rem;
    }
}
